In [12]:
print ("one", "two", 'three')

one two three

In [15]:
my_list = ['one', 'two', 'three']
my_list

['one', 'two', 'three']

In [16]:
for item in my_list:
    print (item)

one
two
three

+ []初始化list，按顺序；
+ {}初始化list，不按顺序，按字典序。

In [17]:
a = 1
b = 1.0
c = "hello"
my_complex_number = complex(3,2)
print(type(a),type(b),type(c),type(my_list),type(my_complex_number))

<class 'int'> <class 'float'> <class 'str'> <class 'list'> <class 'complex'>

In [18]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

### list

mutable

In [19]:
my_list = [1,2,3,4,5]
my_list

[1, 2, 3, 4, 5]

In [20]:
my_list[2] = 10000
my_list

[1, 2, 10000, 4, 5]

In [21]:
my_list = [0] * 20
my_list

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [22]:
my_list = [1,2,3,4] * 4
my_list

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

### tuples

immutable

In [24]:
my_tuple = ("red","blue","green")
my_tuple

('red', 'blue', 'green')

In [25]:
my_tuple[2] = "BROKEN"

TypeError: 'tuple' object does not support item assignment